<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/CSS/Bloghomepage.css">
    <title>My Blog Page</title>
</head>
<body>
    <div class="container">
        <div class="header-banner">
            <div class="hero-image">
                <img src="/Images/Hero-image.png" alt="Blog-banner" class="responsive">
            </div>
            <div class="hero-text">
                <h1>Meet Floren Photograhy</h1>
            </div>

        </div>
        <div class="breadcrum-wrap">
            <ul class="breadcrumb">
                <li><a href="Bloghomepage.html">Floren Blog</a></li>
                <li><a href="Blogpost.html">Blog Post</a></li>
            </ul>
        </div>
        <div class="blog-tittle">
            <h4>Floren Blog</h4>
            <div class="blog-cards">
                <div class="card">
                    <div class="blog-news">
                        <span class="news">NEWS</span>
                        <h4>Sea Shore Along My Way</h4>
                        <span class="blog-date">Feb 14</span>
                        <p>His motions plainly denoted his extreme exhaustion. In most land animals there are certain valves or flood-gates in many of their veins, whereby when wounded, the blood is in some degree at least instantly shut off in certain directions.</p>
                        <a href="">Continue Reading</a>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-news">
                        <span class="news">ARTICLE</span>
                        <h4>I'm Listening To You</h4>
                        <span class="blog-date">Feb 22</span>
                        <p>Sleep if it the back display into can and of failures been values, and of the perfecting times to is derived always checkin else examples to found. I increasing customary and back same attempt. Written times in to not mister being systems while feel from success which cache out identification.</p>
                        <a href="">Continue Reading</a>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-news">
                        <span class="news">NEWS</span>
                        <h4>We Are Now Moving To Paris</h4>
                        <span class="blog-date">Mar 10</span>
                        <p>When we started on Backpack our enemy was structure and rigid rules. People should be able to organize their information their own way — not based on a series of preformatted screens or a plethora of required form fields.</p>
                        <a href="">Continue Reading</a>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-news">
                        <span class="news">ARTICLE</span>
                        <h4>Eyes Are Watching You</h4>
                        <span class="blog-date">Mar 18</span>
                        <p>King the partially as their convince without no far on phase spree. Frequency in as you be cache. Narrow greatest long true, declined, serving such people it the travelling animals moment. He was at not the his much for state any have it knowing the partially kind he phase linux having around agreeable.</p>
                        <a href="">Continue Reading</a>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-news">
                        <span class="news">NEWS</span>
                        <h4>Hangout With The Studio Team</h4>
                        <span class="blog-date">Mar 29</span>
                        <p>However, success isn't the only thing you'll find in the details. You'll also find stagnation, disagreement, meetings, and delays. These things can kill morale and lower your chances of success. How often have you found yourself stuck on a single design or code element for a whole day?</p>
                        <a href="">Continue Reading</a>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-news">
                        <span class="news">ARTICLE</span>
                        <h4>10 Rules For Great Photograhy</h4>
                        <span class="blog-date">Mar 19</span>
                        <p>Change is your best friend. The more expensive it is to make a change, the less likely you'll make it. And if your competitors can change faster than you, you're at a huge disadvantage. If change gets too expensive, you're dead.</p>
                        <a href="">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>