<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/CSS/styles.css" />
        <title>Blog Post</title>
    </head>
    <body>
        <section class="container">
            <section class="breadcrum-wrap">
                <ul class="breadcrumb">
                    <li><a href="index.html">Floren Blog</a></li>
                    <li><a href="Blogpost.html">Blog Post</a></li>
                </ul>
            </section>

            <section class="blogpost-wrapper">
                <h1>Blog Post</h1>
                <article class="blog-header-tittle">
                    <a href="#">subscribe</a>
                    <h2 class="blogpost-header">Florent Mat Photography Blog</h2>
                </article>
                <section class="flex-grid">
                    <section class="col main">
                        <article class="insideblog">
                            <h2>Floren Mat Blog Post</h2>
                            <span class="blogpost-date">June 1, 2021 by <a href="#">Debby</a></span><br>
                            <img src="/Images/img_avatar_f.png" alt="Avatar" class="avatar">
                            <p>
                                His motions <b>plainly denoted his extreme exhaustion</b>. In most land animals there are certain valves or flood-gates in many of their veins, whereby when wounded, the blood is in some degree at least
                                instantly shut off in certain directions. Not so with the whale; one of whose peculiarities it is to have <em>an entire non-valvular structure of the blood-vessels</em>, so that when pierced even by so small
                                a point as a harpoon.
                            </p>

                            <p></p>
                            <hr class="divider" />
                            <p>
                                Deadly drain is at once begun upon his whole arterial system; and when this is heightened by the <a href="#S">extraordinary pressure</a> of water at a great distance below. Already has begun the custom of
                                wearing human teeth. In another generation you will be perforating your noses and ears and <u>wearing ornaments of bone and shell</u>. I know. The human race is doomed to sink back farther and farther into
                                the primitive night ere again it begins its bloody climb upward to civilization. When we increase and feel the lack of room, we will proceed to kill one
                            </p>
                            <p class="cote-border">
                                Sleep if it the back display into can and of <em>failures been values</em>, and of the perfecting times to is derived always checkin else examples to found. I increasing customary and back same attempt.
                                <u>Written times in to not mister being systems while feel from success which cache out identification</u>. Already has begun the custom of wearing human teeth.
                            </p>
                            <p><b>Doctor occupied wait borne</b> what the in has theory long to brains and wasn't by it's the then field when sides were of advised and or passion venerable, back years be instance.</p>
                        </article>
                        <article class="insideblog-heading">
                            <h2>Heading</h2>
                            <p>
                                One bonus you get from having an enemy is a very clear marketing message. People are stoked by conflict. And they also understand a product by comparing it to others. With a chosen enemy, you're feeding
                                people a <em>story they want to hear</em>. Not only will they understand your product better and faster, they'll take sides. And that's a sure-fire way to get attention and ignite passion.
                            </p>
                        </article>
                        <article class="insideblog-subheading-one">
                            <h2>Sub-heading</h2>
                            <p>When we started on Backpack our enemy was structure and rigid rules.</p>
                            <p class="solvpar-border">How to solve their issues</p>

                            <blockquote>
                                Now with all that said, it's also important to not get too obsessed with the competition. Overanalyze other products and you'll start to limit the way you think. Take a look and the move on to your own vision
                                and your own ideas.
                            </blockquote>
                        </article>
                        <article class="insideblog-subheading-two">
                            <h2>Sub-heading</h2>
                            <p>
                                Now with all that said, it's also important to not get too obsessed with the competition. Overanalyze other products and you'll start to limit the way you think. Take a look and then move on to your own
                                vision and your own ideas.
                            </p>
                            <ul>
                                <li>Sometimes the best way to know what your app should be is to know what it shouldn't be.</li>
                                <li>Figure out your app's enemy and you'll shine a light on where you need to go.</li>
                                <li>Figure out your app's enemy and you'll shine a light on where you need to go.</li>
                            </ul>
                            <blockquote>When we started on Backpack our enemy was structure and rigid rules.</blockquote>
                            <ol>
                                <li>A picture is a secret about a secret</li>
                                <li>the more it telfls you the less you know</li>
                                <li>the more it telfls you the less you know</li>
                            </ol>
                            <p>When we started on Bfackpack our enemy was structure and <em>rigid rules</em>.</p>
                        </article>
                        <article class="insideblog-btn">
                            <button class="btn info">Older Post</button>
                            <button class="btn default">Newer Post</button>
                        </article>
                    </section>
                    <section class="col sidebar">
                        <article class="about-sidebar">
                            <h3>About</h3>
                            <p>I love photography. fLive in Lagos State Nigeria and sometimes blog in my leisure.</p>
                            <p></p>
                        </article>

                        <article class="insidebar-links">
                            <h3>Archives</h3>
                            <a href="">Janurary 2019</a><br />
                            <a href="">Febuary 2019</a><br />
                            <a href="">March 2019</a><br />
                            <a href="">April 2019</a><br />
                            <a href="">May 2019</a><br />
                            <a href="">June 2019</a><br />
                            <a href="">July 2019</a><br />
                            <a href="">August 2019</a><br />
                            <a href="">September 2019</a><br />
                            <a href="">Octomber 2019</a><br />
                            <a href="">November</a><br />
                            <a href="">December</a>
                        </article>
                        <article class="insidebar-links">
                            <h3>Elsewhere</h3>
                            <a href="">GitHub</a><br />
                            <a href="">Twitter</a><br />
                            <a href="">Facebook</a>
                        </article>
                    </section>
                </section>
            </section>
        </section>
    </body>
</html>
