<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="breadcrum-wrap">
            <ul class="breadcrumb">
                <li><a href="Bloghomepage.html">Floren Blog</a></li>
                <li><a href="Blogpost.html">Blog Post</a></li>
            </ul>
        </div>

        <div class="blogpost-wrapper">
            <h1>Blog Post</h1>
            <div class="blog-header-tittle">
                <a href="#">subscribe</a>
                <h2 class="blogpost-header">Florent Mat Photography Blog</h2>
            </div>
            <div class="flex-grid">
                <section class="col main">
                    <div class="insideblog">
                        <h2>Floren Mat Blog Post</h2>
                        <span class="blogpost-date">June 1, 2021 by <a href="#">Debby</a></span>
                        <p>
                            His motions plainly denoted his extreme exhaustion. In most land animals there are certain valves or
                            flood-gates in many of their veins, whereby when wounded, the blood is in some degree at least
                            instantly shut off in certain directions. Not so with the whale; one of whose peculiarities it
                            is to have an entire non-valvular structure of the blood-vessels, so that when pierced even by
                            so small a point as a harpoon.
                        <p>
                            <hr class="divider">
                        <p>
                            Deadly drain is at once begun upon his whole arterial system; and when this is
                            heightened by the <a href="#S">extraordinary pressure</a> of water at a great distance below.
                            Already has begun the custom of wearing human teeth. In another generation you will be perforating
                            your noses and ears and wearing ornaments of bone and shell. I know. The human race is doomed to
                            sink back farther and farther into the primitive night ere again it begins its bloody climb upward
                            to civilization. When we increase and feel the lack of room, we will proceed to kill one
                        </p>
                        <p class="cote-border">
                            Sleep if it the back display into can and of failures been values, and of the
                            perfecting times to is derived always checkin else examples to found. I increasing customary and
                            back same attempt. Written times in to not mister being systems while feel from success which cache
                            out identification. Already has begun the custom of wearing human teeth.
                        </p>
                        <p>
                            Doctor occupied wait borne what the in has theory long to brains and wasn't by it's the then field
                            when sides were of advised and or passion venerable, back years be instance.
                        </p>
                    </div>
                    <div class="insideblog-heading">
                        <h2>Heading</h2>
                        <p>
                            One bonus you get from having an enemy is a very clear marketing message. People are stoked by
                            conflict. And they also understand a product by comparing it to others. With a chosen enemy,
                            you're feeding people a story they want to hear. Not only will they understand your product
                            better and faster, they'll take sides. And that's a sure-fire way to get attention and ignite
                            passion.
                        </p>
                    </div>
                    <div class="insideblog-subheading-one">
                        <h2>Sub-heading</h2>
                        <p>When we started on Backpack our enemy was structure and rigid rules.</p>
                        <p class="solvpar-border">How to solve their issues</p>
                        <p>
                            Now with all that said, it's also important to not get too obsessed with the competition.
                            Overanalyze other products and you'll start to limit the way you think. Take a look and
                            then move on to your own vision and your own ideas.
                        </p>
                    </div>
                    <div class="insideblog-subheading-two">
                        <h2>Sub-heading</h2>
                        <p>
                            Now with all that said, it's also important to not get too obsessed with the competition.
                            Overanalyze other products and you'll start to limit the way you think. Take a look and
                            then move on to your own vision and your own ideas.
                        </p>
                        <ul>
                            <li>Sometimes the best way to know what your app should be is to know what it shouldn't be.</li>
                            <li>Figure out your app's enemy and you'll shine a light on where you need to go.</li>
                            <li>Figure out your app's enemy and you'll shine a light on where you need to go.</li>
                        </ul>
                        <p>When we started on Backpack our enemy was structure and rigid rules.</p>
                        <ol>
                            <li>A picture is a secret about a secret</li>
                            <li>the more it telfls you the less you know</li>
                            <li>the more it telfls you the less you know</li>
                        </ol>
                        <p>When we started on Bfackpack our enemy was structure and rigid rules.</p>
                    </div>
                    <div class="insideblog-btn">
                        <button class="btn info">Older Post</button>
                        <button class="btn default">Newer Post</button>
                    </div>
                </section>
                <aside class="col sidebar">
                    <div class="about-sidebar">
                        <h2>About</h2>
                        <p>I love photography. fLive in Lagos State Nigeria and sometimes blog in my leisure.<p>
                    </div>
                    <div class="insidebar-links">
                        <h2>Archives</h2>
                        <a href="">Janurary 2019</a><br>
                        <a href="">Febuary 2019</a><br>
                        <a href="">March 2019</a><br>
                        <a href="">April 2019</a><br>
                        <a href="">May 2019</a><br>
                        <a href="">June 2019</a><br>
                        <a href="">July 2019</a><br>
                        <a href="">August 2019</a><br>
                        <a href="">September 2019</a><br>
                        <a href="">Octomber 2019</a><br>
                        <a href="">November</a><br>
                        <a href="">December</a>
                    </div><div class="insidebar-links">
                            <h2>Elsewhere</h2>
                            <a href="">GitHub</a><br>
                            <a href="">Twitter</a><br>
                            <a href="">Facebook</a>
                        </div>
                </aside>

            </div>
        </div>
    </div>
</body>
</html>
